/* 
#162C40 - cimny granat
#3B668C - jasny granat
#575915 - zielony
*/

* {
    font-family: "Kanit", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 300vh;
}

nav {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #0d0d0d;
}

.logo img {
    height: 90px;
    padding-left: 20px;
    padding-top: 7px;
}

.menu {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.menu span {
    color: #0d0d0d;
    /* font-size: 280%; */
    font-size: 4rem;
    cursor: pointer;
}

nav div {
    flex-basis: 50%;
    height: 100%;

    display: flex;
    align-items: center;
}

.menu-box-items {
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 3;
    background-color: #0d0d0d;
    color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: flex;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

.menu-box-items.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.hide {
    display: none;
}

nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
}

nav ul li {
    text-align: center;
    flex-basis: 10%;
    /* border-bottom: 1px solid gray; */
}

header {
    height: 100vh;
    background: url('../assets/img/bg_header_2.jpg') center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    position: relative;
}

.box {
    z-index: 1;
    /* border: 1px solid #fff; */
    min-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
   font-weight: 400;
   font-size: 3.4rem;
   /* text-shadow: 0 0 45px red; */
   flex-basis: 18%;

}


.bg-header {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.btn-cta {
    padding: 20px;
    /* border: 1px solid; */
    width: 200px;
    display: inline-block;
    border-radius: 6px;
    background-color: #3b668cd3;
    transition: 0.5s;
}

.btn-cta:hover {
    background-color: #3B668C;
    transform: translateY(-6px);
}

section {
    min-height: 80vh;
    padding-top: 90px;
}

section:nth-of-type(even) {
    /* background-color: gray; */
    background: url('../assets/img/gory_alpy.webp') center/cover fixed;
}

section h2 {
    text-align: center;
    font-size: 3rem;
}

@media all and (min-width:800px)  {
    h1 {
        flex-basis: 15%;
        font-size: 80px;
    }
    
    .btn-cta {
        font-size: 32px;
    }

    .menu-box-items {
        width: 25%;
    }

    section h2 {
        font-size: 4.5rem;
    }
}
