/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  height: 300vh;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #400101;
  color: #fff;
  font-size: 2.2rem;
  z-index: 2;
}

.logo {
  flex-basis: 50%;
  padding-left: 30px;
}

.menu {
  flex-basis: 50%;
  text-align: right;
  padding-right: 30px;
}
.menu span {
  font-size: 3.6rem;
}

header {
  height: 100vh;
  background: url("../assets/img/bg_header.webp") center/cover fixed;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
}
@media screen and (min-width: 800px) {
  header h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 8rem;
  }
}
header::after {
  content: "";
  background-color: rgba(1, 13, 0, 0.5176470588);
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .header-box {
    align-items: flex-start;
  }
}
.header-box h1 {
  margin-bottom: 50px;
}
.header-box a {
  background-color: #488C03;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  border-radius: 6px;
  transition: 0.5s;
}
@media screen and (min-width: 800px) {
  .header-box a {
    width: 25%;
  }
}
.header-box a:hover {
  background-color: rgba(71, 140, 3, 0.5215686275);
  transform: translateX(10px);
}

section {
  min-height: 100vh;
}
section:nth-of-type(even) {
  background-color: whitesmoke;
}
section h2 {
  text-align: center;
  padding: 70px 0;
  font-weight: bold;
  font-size: 3.6rem;
}
section h3 {
  font-weight: bold;
  font-size: 3rem;
}
section p {
  font-size: 1.6rem;
  padding: 20px 0;
}

.menu-box {
  box-shadow: 0 0 10px gray;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}
.menu-box:hover {
  box-shadow: 0 0 20px gray;
  opacity: 1;
}

.picture {
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.picture1 {
  background: url("../assets/img/pizza1.webp") center/cover;
}

.picture2 {
  background: url("../assets/img/pizza2.webp") center/cover;
}

.picture3 {
  background: url("../assets/img/pizza3.webp") center/cover;
}

.picture4 {
  background: url("../assets/img/pizza4.webp") center/cover;
}

.text {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .container {
    width: 760px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  .col-md50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 800px) {
  .col-md33 {
    flex: 0 0 33.333333%;
  }
}
@media screen and (min-width: 800px) {
  .col-md25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg33 {
    flex: 0 0 33.333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg25 {
    flex: 0 0 25%;
  }
}

input, textarea, label {
  display: block;
  margin-bottom: 5px;
  font-family: inherit;
  width: 100%;
  font-size: 1.6rem;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid gray;
}
input[type=submit], textarea[type=submit] {
  margin-top: 30px;
  width: 50%;
}

textarea {
  resize: none;
}

.alert {
  width: 50%;
  padding: 10px;
  border-radius: 4px;
}
.alert-danger {
  background-color: rgba(255, 48, 48, 0.6);
}
.alert-success {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  font-size: 1.6rem;
  background-color: rgba(2, 46, 2, 0.6);
}

footer {
  background-color: #0d0d0d;
  color: #fff;
  height: 40vh;
}

/*# sourceMappingURL=style.css.map */
